*{
    padding: 0;
    margin: 0;
}

body{
    background:  #cceeff;
}

/* Comienza la sintaxis para el desarrollo del header y nav de la pagina */

.fila{
    background-color: #e6f7ff;
    padding: 40px;
}

.imgheader{
    width: 200px;
    height: auto;
    float: left;
    margin-left: 10px;
    margin-top: -35px;
}

nav ul{
    background-color: #b3d9ff;
    width: 100%;
    list-style-type: none;
    text-align: center;
}

nav li{
    display: inline-flex;
}

nav li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    width: 150px;
    font-size: 16px;
    display: block;
}

nav li:hover {
    background-color: #66ccff;

}

/* Fin de la sintaxis para el desarrollo del header y nav de la pagina */

.Izquierda {
    width: 20%;
    height: 790px;
    background: white;
    float: left;
}

.Contenido {
    width: 60%;
    height: 790px;
    background: #cceeff;
    float: left;
}

.Derecha {
    width: 20%;
    height: 790px;
    background: white;
    float: left;
}

.imagen1 {
    width: 900px;
    height: auto;
    padding-bottom: 20px;
}

h2 {
    text-align: left;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

article{
    text-align: justify;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    font-size: 22px;
    line-height: 1.5;
}