body{
    background: #201976;
}

.centro{
    background: white;
    padding-bottom: 30px;
}

h1{
    text-align: center;
}

.arriba{
    background-color: #201976;
    padding-bottom: 160px;
}


form {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  
  