*{
    padding: 0;
    margin: 0;
}

body{
    background:  #cceeff;
}

/* Comienza la sintaxis para el desarrollo del header y nav de la pagina */

.fila{
    background-color: #e6f7ff;
    padding: 40px;
}

.imgheader{
    width: 200px;
    height: auto;
    float: left;
    margin-left: 10px;
    margin-top: -35px;
}

nav ul{
    background-color: #b3d9ff;
    width: 100%;
    list-style-type: none;
    text-align: center;
}

nav li{
    display: inline-flex;
}

nav li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    width: 150px;
    font-size: 16px;
    display: block;
}

nav li:hover {
    background-color: #66ccff;

}

/* Fin de la sintaxis para el desarrollo del header y nav de la pagina */

/* Estilos para el formulario */
form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  label, input, textarea {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }